@font-face {
	font-family: "raleway";
	src: url("../../fonts/raleway-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "raleway";
	src: url("../../fonts/raleway-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}