* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: "raleway", sans-serif;
	letter-spacing: 1px;
}

body {
	background: #EBF7F8;
	color: #666;
	font-size: 20px;
}

a {
	text-decoration: none;
}