* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: "raleway", sans-serif;
	letter-spacing: 1px;
}

body {
	background: #fff;
	color: #666;
	font-size: 20px;
}

.error {
	display: none;
	margin-top: 100px;
	text-align: center;
}