/* Main box */
.current-weather {
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 auto;
	visibility: hidden;
	width: 350px;
}

/* Title */
.current-weather__place {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}

/* Image + Temp value */
.current-weather__temp-wrapper {
	padding: 25px 0;
}

.current-weather__temp-wrapper .current-weather__image {
	height: 128px;
	margin: 0 auto;
	width: 128px;
}

.current-weather__temp-wrapper .current-weather__image.sunny {
	background: url(../../img/weather/tick_weather_032.png);
}

.current-weather__temp-wrapper .current-weather__temp {
	display: block;
	font-size: 5em;
	line-height: 128px;
	text-align: center;
}

/* Weather conditions */
.current-weather__conditions-wrapper {
	border-top: 1px solid #ddd;
	padding: 15px;
}