.current-weather {
	display: inline-block;
	font-size: 20px;
	margin-right: 50px;
	vertical-align: middle;
	visibility: hidden;
	width: 75px;
}

.current-weather.main {
	font-size: 30px;
	width: 150px;
}

.current-weather:last-child {
	margin-right: 0;
}

.current-weather__icon {
	font-size: 4em;
}

.current-weather__temp {
	font-size: 1.5em;
	padding-top: 25px;
}

.current-weather__wrapper {
	font-size: 0;
	text-align: center;
}

.current-weather .weather-icon-sun {
	color: #f1c40f;
}