.configuration {
	display: none;
	margin: 50px 10% 0;
}

.configuration a {
	color: #3498db;
}

.configuration h1 {
	text-align: center;
}

.configuration input {
	background: none;
	border: 0;
	border-bottom: 1px solid #ccc;
	outline: none;
	text-align: center;
}

.configuration .example {
	padding-left: 50px;
}

.configuration .with-city-id, .configuration .without-city-id {
	display: none;
}